/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Button Reset for IOS */

button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
  }

/* CSS Reset End */

/* Page Styling  */


:root {
    --content-background-color: #FFFFFF;
    --content-border-color: #3e5b76;
    --font-color: #707070
}
/* Default Styles for all page sizes */
body {
    font-size: 16px;
    min-height: 100vh;
    height: 100%;
    color: var(--font-color);
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    
}


  

.mainContent {
    background-image: url(images/background.jpg);
    background-size: cover;
    flex: 1 1 0px;
}

html {
    height: 100%;
}

img {
    object-fit: cover;
}

.mainContent {
    background-color: black;
}

.mainHeader > h1, .mainHeader > p, .mainHeader > h2 {
    margin: 10px;
    margin-left: 0;
}
.mainHeader > h1 {
    font-weight: bold;
    font-size: 20px;
}

.mainFooter {
    margin: 10px;
    margin-top: 0;
}

.mainFooter > p {
    margin: 10px;
    margin-left: 0;
    
}

.mainFooter > button.logIn {
    margin: 10px;
}

.signUp {
    flex: 0;
    margin-bottom: 0;
}

button {
    color: white;
}

:root {
    --border-size: 2px;
    --border-color: black;
    --border-style: solid;
    --border-radius: 15px;
    --astronomical-gold: #FFD700;
    --celestial-yellow: #FFE600;
}
/* border styling */
.mainHeader {
    border-top: var(--border-size) var(--border-color) var(--border-style);
    border-left: var(--border-size) var(--border-color) var(--border-style);
    border-right: var(--border-size) var(--border-color) var(--border-style);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
   

}
.signUp {
    border-left: var(--border-size) var(--border-color) var(--border-style);
    border-right: var(--border-size) var(--border-color) var(--border-style);
}
.mainFooter {
    border-left: var(--border-size) var(--border-color) var(--border-style);
    border-right: var(--border-size) var(--border-color) var(--border-style);
    border-bottom: var(--border-size) var(--border-color) var(--border-style);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.mainHeader, .mainFooter, .signUp {
    padding: 10px;
    /* Margin Bottom solves the grey line between div issue! Overlaps
    the divs by 1 pixel to eliminate this */
    margin-bottom: -1px;
}
.mainFooter {
    padding-top: 0;
}

.mainHeader {
    padding-bottom: 0;
}
.signUp {
    margin-top: 0;

}

.mainHeader > p { 
    font-size: 1.05rem;
    text-align: justify;
    margin: 20px;
    
}


.underlineTop, .underlineBottom {
    border-bottom: 1px black solid;
    display: flex;
    margin-top: 5px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 0;
    width: 22rem;
}

.mainHeader > h1 {
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

.mainHeader > h2, .mainHeader > h3 {
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

.mainHeader > h1 {
    font-size: 1.7rem;
    text-align: center; 
    color: rgb(97, 96, 96);
    font-style: italic;
    font-weight: 600;
    
}

.mainHeader > h2 {
    font-size: 1.3rem;
    text-align: center;
    color: var(--font-color);
    font-weight: 600;
    margin: 15px;
   
   
}


label {
    font-size: 0.9rem;
}



.mainFooter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    
}
.mainFooter > .secondRow {
    display: flex;
    justify-content: center;
}
.mainFooter > .secondRow > p {
    margin: 10px;
    margin-right: 5px;
    margin-left: 20px;

}
button.logIn {
    font-weight: bold;
    color: black;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    /* text-underline-offset: 4px; */
}
button.createAccount {
    color: white;
    text-shadow: black 0.5px 0.5px;
    font-weight: bold;
  
    margin-bottom: 5px;
    border: 1px black solid;
    border-radius: 10px;
    padding: 3px 10px;
    /* background-color: var(--celestial-yellow); */
    /* background-image: url(images/background.jpg); */
    background-size: contain;
    background-color: rgb(78, 77, 77);
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.secondRow > p {
    color:rgb(97, 96, 96);
}


.imageBanner > h3 {
    color: white;
    text-align: center;
    position: relative;
    padding-top: 35px;
    padding-bottom: 35px;
    top: 35%;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

.imageBanner > p {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 300px;
 
}

.mainContent > p {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 400px;
 
}

.imageLink {
    color: white;
    font-size: .75rem;
}

.imageLink > a {
    color: white;
}

.imageBanner {


    background-image: url(images/banner.jpg);
    width: 100%;
    
    background-size: cover;
    min-height: 250px;
    position: relative;
    background-position: center;
    border: 1px solid black;
    border-right-width: 1px;
    
   
}

.mainContent {
    height: 100vh;
    position: relative;
    border: 1px black solid;
    background-position: center;
    
}

@media only screen and (min-width: 0px) {
    body {
        
        display: flex;
        flex-direction: column;
        background-color: black;
        
        min-width: 200px;
        overflow-x: scroll;
    }

    #image {
        width: 100%;
        height: auto;
        background-size: cover;
        transform: scale(1);
        transform-origin: 50% 50%;
    
        
    }

    .imageBanner {
        width: 100%;
        height: 40%;
        max-width: 100%;
        overflow: hidden;
        
        
        
    }


    .mainContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color: var(--content-border-color);
        /* padding: 100px; */
        
    }

    .mainHeader {
        background-color: var(--content-background-color);
        width: clamp(375px, 450px, 80%);
        margin-top: 20px;
    }
    .mainFooter {
        background-color: var(--content-background-color);
        width: clamp(375px, 450px, 80%);
        /* height: 5rem; */
        padding-bottom: 20px;
        margin-bottom: 1.5rem;
    }

    .signUp {
        background-color: var(--content-background-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: clamp(375px, 450px, 80%);
        height: 40%;
    }



    .form-row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        flex: 0 0 calc(33.33% - 10px);
        margin-bottom: 10px;
        text-align: center;
        
    }

    .form-row > .row {
        background-color: var(--content-background-color);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 20px;
        

        
    }

    .form-row >.row > .inputGroup > label {
        margin-bottom: 1px;
        margin-top: 5px;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    input {
        width: 150px;
    }


  
}

/* Styling for smaller page width */

@media only screen and (min-width: 401px) {
    body {
        background-color: black;
        display: flex;
        flex-direction: column;
        /* height: 100%; */
    }

    /* #image {
        width: 100%;
        height: 100%;
        background-size: cover;
        transform: scale(1);
        transform-origin: 50% 50%;
        
    } */

    /* .imageBanner {
        width: 100%;
        height: 100%;
        max-width: 100%;
       
        
        
        
    } */

    .mainContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 0;
        width: 100%;
        
        /* padding-bottom: 2rem; */
        
    }

    .mainHeader {
        background-color: var(--content-background-color);
        width: clamp(375px, 450px, 80%);
        
    }
    .mainFooter {
        background-color: var(--content-background-color);
        width: clamp(375px, 450px, 80%);
        padding-bottom: 10px;
        margin-bottom: 1.5rem;
        /* height:  */
  
    }

    .signUp {
        background-color: var(--content-background-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* width: clamp(375px, 450px, 80%);
       */
    }



    .form-row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        flex: 0 0 calc(33.33% - 10px);
        margin-bottom: 10px;
        text-align: center;

    }



    .form-row > .row {
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        
    }

    .createAccountRow {
        display: flex;
        justify-content: center;
    }

    .form-row >.row > .inputGroup > label {
        margin-bottom: 1px;
        margin-top: 5px;
        display: flex;
        justify-content: left;
        align-items: center;
    }


    .mainHeader, .mainFooter, .signUp {
        background-color: var(--content-background-color);
        width: 375px;
    }


  
}

/* Styling for larger page width */

@media only screen and (min-width: 851px) {
    body {
        background-color: black;
        display: flex;
        flex-direction: row;
        height: 100%;
        align-items: center;
        
        max-height: 850px;
        
    }

    .imageBanner > h3 {
       top: 35%;
    }




    /* #image {
       
        height: 100%;
       
    } */

    .imageBanner {
 
        height: 100%;
        background-size: cover;
        width: 50%;
    }

    .imageBanner > h3 {
        font-size: 3rem;
       
        text-wrap: balance;
    }

    .mainContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 3rem;;
        padding-right: 3rem;
        
       flex: 1;

        
    }





    .mainHeader, .mainFooter, .signUp {
        background-color: var(--content-background-color);
        width: clamp(375px, 60%, 475px);
    }
    

    .signUp {
        background-color: var(--content-background-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    
    
        
    }

    .form-row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        flex: 0 0 calc(33.33% - 10px);
        margin-bottom: 10px;
        text-align: center;
        
    
    }

    .form-row > .row {
   
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        
    }

    .form-row >.row > .inputGroup > label {
        margin-bottom: 1px;
        margin-top: 5px;
        display: flex;
        justify-content: left;
        align-items: center;
    }
}