/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Button Reset for IOS */

button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
  }

/* CSS Reset End */

/* Page Styling  */

/* Default Styles for all page sizes */
body {
    font-size: 16px;
    min-height: 100vh;
    height: 100%;
    color: white;
}

html {
    height: 100%;
}

img {
    object-fit: cover;
}

.mainHeader > h1, p, h2 {
    margin: 10px;
    margin-left: 0;
}
.mainHeader > h1 {
    font-weight: bold;
    font-size: 20px;
}

.mainFooter {
    margin: 10px;
}

.mainFooter > p {
    margin-left: 0;
    
}

.signUp {
    flex: 0;
}

button {
    color: white;
}

/* Styling for mobile */

@media only screen and (min-width: 375px) {
    body {
        
        display: flex;
        flex-direction: column;
        background-color: black;
        
        /* height: 100%; */
    }

    #image {
        width: 100%;
        height: auto;
        background-size: cover;
        transform: scale(1);
        transform-origin: 50% 50%;
        
    }

    .imageBanner {
        width: 100%;
        height: 40%;
        max-width: 100%;
        overflow: hidden;
        
        
        
    }

    .mainContent {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color: #00406c;
        
    }

    .mainHeader {
        background-color: #00406c;
        width: clamp(375px, 450px, 80%);
        margin-top: 20px;
    }
    .mainFooter {
        background-color: #00406c;
        width: clamp(375px, 450px, 80%);
        height: 13%;
    }

    .signUp {
        background-color: #00406c;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: clamp(375px, 450px, 80%);
        height: 40%;
    }



    .form-row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        flex: 0 0 calc(33.33% - 10px);
        margin-bottom: 10px;
        text-align: center;
        
    }

    .form-row > .row {
        background-color: #00406c;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        
    }

    .form-row >.row > .inputGroup > label {
        margin-bottom: 1px;
        margin-top: 5px;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    input {
        width: 170px;
    }


  
}

/* Styling for smaller page width */

@media only screen and (min-width: 450px) and (max-width: 850px) {
    body {
        background-color: black;
        display: flex;
        flex-direction: column;
        /* height: 100%; */
    }

    #image {
        width: 100%;
        height: 100%;
        background-size: cover;
        transform: scale(1);
        transform-origin: 50% 50%;
        
    }

    .imageBanner {
        width: 100%;
        height: 75vh;
        max-width: 100%;
        overflow: hidden;
        
        
        
    }

    .mainContent {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex: 0;
        width: 100%;
        
    }

    .mainHeader {
        background-color: #00406c;
        width: clamp(375px, 450px, 80%);
        
    }
    .mainFooter {
        background-color: #00406c;
        width: clamp(375px, 450px, 80%);
        padding-bottom: 40px;
  
    }

    .signUp {
        background-color: #00406c;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: clamp(375px, 450px, 80%);
      
    }



    .form-row {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        box-sizing: border-box;
        flex: 0 0 calc(33.33% - 10px);
        margin-bottom: 10px;
        text-align: center;

    }

    .form-row > .row {
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        
    }

    .form-row >.row > .inputGroup > label {
        margin-bottom: 1px;
        margin-top: 5px;
        display: flex;
        justify-content: left;
        align-items: center;
    }


  
}

/* Styling for larger page width */

@media only screen and (min-width: 851px) {
    body {
        background-color: black;
        display: flex;
        flex-direction: row;
        height: 100%;
        align-items: center;
        
    }

    #image {
        width: 100%;
        height: 100%;
       
    }

    .imageBanner {
        width: clamp(850px, 100%, 1400px);
        height: 100%;
    }

    .mainContent {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 40vh;
    

        
    }





    .mainHeader, .mainFooter, .signUp {
        background-color: #00406c;
        width: clamp(375px, 60%, 475px);
    }
    

    .signUp {
        background-color: #00406c;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    
    
        
    }

    .form-row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        flex: 0 0 calc(33.33% - 10px);
        margin-bottom: 10px;
        text-align: center;
        
    
    }

    .form-row > .row {
   
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        
    }

    .form-row >.row > .inputGroup > label {
        margin-bottom: 1px;
        margin-top: 5px;
        display: flex;
        justify-content: left;
        align-items: center;
    }
}